/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* site styling */

html, body {
  font-size: 1.25em;
  line-height: 1.5em;
  font-family: monospace;
  color: #e3e0d7;
  background-color: #080808;
}

main {
  background-color: #242424;
  max-width: 900px;
  margin: 1em auto;
  padding: 1em 1.5em;
}

p {
  margin: 1em 0 0.5em 0;
}

h1, h2, h3 {
  font-weight: 900;
  color: #cae982;
  margin: 1em 0 0.5em 0;
}

h1 {
  padding-bottom: 0.5em;
  border-bottom: 2px dashed #cae982;
}

h1::before {
  content: '# ';
}

h2::before {
  content: '## ';
}

h3::before {
  content: '### ';
}

a {
  color: #88b8f6;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
}

a:hover {
  color: #eadead;
}

pre {
  overflow-x: auto;
}

p > code {
  color: #e5786d;
}

p > code::before, p > code::after {
  content: "`";
}

pre > code {
  color: #eadead;
}

hr {
  margin: 1em 0 0.5em 0;
  border: 0;
  height: 0;
  border-bottom: 2px dashed #88b8f6;
}
